/* _arch-vars-start */
@function getInvertedOverlayColor($color) {
	@return if(lightness($color) > 50, rgba(0,0,0,0.8), rgba(255,255,255,0.8));
}
$page-bg-color: #eeeeee;
$loading-spinner-color: getInvertedOverlayColor($page-bg-color);
$field-background-color: #ffffff;
$form-bg-color: $field-background-color;
$field-font-color: #000000;
$form-dark: $field-font-color;
$form-light: $field-background-color;
$toolbar-input-bg: $field-background-color;
$toolbar-input-color: $field-font-color;
$active-color: #006bb6;
$alert-color: #ff0000;
$base-gradient: "matte";
$list-color: #000000;
$field-label-color: #000000;
$field-label-background-color: #f7f7f7;

@import 'sencha-touch/default';
@import 'sencha-touch/default/all';


/* _arch-other-start */
.x-form, .x-form-fieldset {
    .x-field, input, .x-form-fieldset-inner, .x-form-field {
        background-color: lighten($field-background-color, 20) !important;
        color: white !important;
    }
}
.x-form-label {
    background-color: $field-label-background-color;
    color: $field-label-color;
}
.x-form-fieldset-title, .x-form-fieldset-instructions {
    color: $field-label-color;
}
.x-input-el {
    -webkit-text-fill-color: $field-font-color !important;
}
.x-slider-field, .x-toggle-field {
    background-color: $field-background-color;
}

